body{
    padding: 20px;
    position: relative;
  }
  .game{
    display: flex;
    align-items: flex-start;
    background-color: lightgoldenrodyellow;
  }
  .game-buttons{
    padding: 10px;
  }
  .game-board{
      width: 100%;
    border: 2px solid black;
    margin: 5px;
  }
  
  .board-row{
      display: flex;
      flex-wrap: wrap;
      background: black;
  }
  
  .tile{
      margin: 2px;
      text-align: center;
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    width: 20px;
    height: 20px;
      background: white;
  }
  
  #num-here{
  font-weight: bold;
  font-size: 20px;
  color: blue;
  }
  #num2-here{
  font-weight: bold;
  font-size: 20px;
  color: blue;
  }
  
  #winner-here{
  font-weight: bold;
  font-size: 20px;
  color: red;
  }
  
  .roll-dice{
    display: inline;
  }
  .roll-dice2{
    display: inline;
  }
  
  .restart-class{
    display: inline;
  }
  
  #space{
    padding: 5px;
  }

  #snake1{
    /* display: flex; */
        position:absolute;
        top: 9px;
        left: 270px;
        z-index: 2;
        width: 10%;
        height: auto;
        /* opacity: 0.8; */
  }
  
  #snake2{
    /* display: flex; */
        position:absolute;
        top: 18px;
        left: 500px;
        z-index: 2;
        width: 8%;
        height: auto;
        /* opacity: 0.8; */
        transform: rotate(-35deg);
        /* visibility: hidden; */
  }
  
  #snake3{
    /* display: flex; */
        position:absolute;
        top: 100px;
        left: 825px;
        z-index: 2;
        width: 8%;
        height: auto;
        /* opacity: 0.8; */
        transform: rotate(35deg);
        /* visibility: hidden; */
  }
  
  #snake4{
    /* display: flex; */
        position:absolute;
        top: 150px;
        left: 160px;
        z-index: 2;
        width: 8%;
        height: auto;
        /* opacity: 0.8; */
        /* transform: rotate(-90deg); */
        /* visibility: hidden; */
        /* transform: scaleX(-1); */
  }

  #snake5{
    /* display: flex; */
        position:absolute;
        top: 190px;
        left: 565px;
        z-index: 2;
        width: 15%;
        height: auto;
        /* opacity: 0.8; */
        transform: rotate(-7deg);
        /* visibility: hidden; */
  }

  #snake6{
        position:absolute;
        top: 25px;
        left: 90px;
        z-index: 2;
        width: 3%;
        height: auto;
        transform: skew(5deg) rotate(55deg) scaleX(-1);
  }

  
  #ladder1{
  /* display: flex; */
        position:absolute;
        top: 125px;
        left: 93px;
        z-index: 2;
        width: 2%;
        height: auto;
        /* opacity: 0.8; */
        transform: rotate(-35deg);
        filter: brightness(0.3);
        /* visibility: hidden; */
        
  }
  
  #ladder2{
    /* display: flex; */
        position:absolute;
        top: 105px;
        left: 380px;
        z-index: 2;
        width: 5%;
        height: auto;
        /* opacity: 0.8; */
        transform: rotate(10deg);
        filter: brightness(1.5);
        /* visibility: hidden; */
  }
  
  #ladder3{
    /* display: flex; */
        position:absolute;
        top: 55px;
        left: 690px;
        z-index: 2;
        width: 2%;
        height: auto;
        /* opacity: 0.8; */
        filter: brightness(1.5);
        transform: rotate(-395deg);
        /* visibility: hidden; */
  }

  #ladder4{
    /* display: flex; */
        position:absolute;
        top: 4px;
        left: 880px;
        z-index: 2;
        width: 3.5%;
        height: auto;
        /* opacity: 0.8; */
        filter: brightness(1.5);
        transform: rotate(-410deg);
        /* visibility: hidden; */
  }

  #ladder5{
    /* display: flex; */
        position:absolute;
        top: 80px;
        left: 300px;
        z-index: 2;
        width: 2%;
        height: auto;
        /* opacity: 0.8; */
        filter: brightness(1.5);
        transform: rotate(35deg);
        /* visibility: hidden; */
  }
  #ladder6{
    /* display: flex; */
          position:absolute;
          top: 30px;
          left: 793px;
          z-index: 2;
          width: 2%;
          height: auto;
          /* opacity: 0.8; */
          transform: rotate(35deg);
          filter: brightness(0.3);
          /* visibility: hidden; */
          
    }


.responsive {
        width: 100%;
        height: auto;
}

/* @media only screen and (min-width: 768px) {
    body {
      background-color: gray;
      
    }
  } */


.snakeladders{
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    z-index: 30;
 }
 .eye {
    fill: black;
    stroke:white;
    stroke-width: 6;
    
  }
 .snake {
    stroke: none;
  }
  .ladders-small {
    stroke: #8B4513;
    stroke-width: 2.5;
    stroke-linecap: round;
    }
  .ladders-big{
    stroke: #8B4513;
    stroke-width: 4;
    stroke-linecap: round;

  }
